@model IEnumerable<RestaurantApp.Models.Foods>

<table border="2" width= "100%">
    <tr  bgcolor="red">
        <th width="10%">
            Nazwa 
        </th>
        <th  width="60%">
            Opis
        </th>
        <th  width="10%">
            Cena
        </th>
        <th  width="10%">
            Czas przygotowania
        </th>
        <th  width="10%">
            Funkcje
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time_to_prepare) min
            </td>
            <td>
                @if(ViewBag.Reservation_id != 0) 
                {
                    @Html.ActionLink("Zamówienie", "Add_order", new {reservation_id = ViewBag.Reservation_id, food_id=item.Id })
                } 
                @Html.ActionLink("Detale", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>