@model RestaurantApp.Models.Foods

@{
    ViewBag.Title = "Dodaj nowe danie do menu";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <div>
                @Html.ActionLink("Powrót", "Index")
            </div>

        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Foods</legend>

        <div class="editor-label">
            Nazwa
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            Kategoria(liczba)
        </div>
        <div class="editor-field">
            @Html.DropDownList("categoryId")
        </div>

        <div class="editor-label">
            Opis
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            Cena
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>

        <div class="editor-label">
            Czas przygotowania
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.time_to_prepare)
            @Html.ValidationMessageFor(model => model.time_to_prepare)
        </div>

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}
