@model IEnumerable<RestaurantApp.Models.Foods>

@{
    ViewBag.Title = "Menu ";
}

<h2>@ViewBag.Title</h2>
<hgroup class="title">
<p>
    @Html.ActionLink("Wyszukaj", "SearchIndex")
</p>
<p>
    @Html.ActionLink("Wróć do strony głównej", "Index", "Home")
</p>
</hgroup>
    

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.breakfast).Count() > 0)
{
    <p>
    <h3>Śniadania</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.breakfast));
}

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.drinks).Count() > 0)
{
    <p>
    <h3>Drinki</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.drinks));
}

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.mains).Count() > 0)
{
    <p>
    <h3>Dania Główne</h3>
    </p>
    @Html.Partial("_CategoryTable",Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.mains));
}

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.starters).Count() > 0)
{
    <p>
    <h3>Przystawki</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.starters));
}
