@model IEnumerable<RestaurantApp.Models.Foods>

@{
    ViewBag.Title = "Menu ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            
            @if(ViewBag.Reservation_id == 0)
            {
            <hgroup>
            <p>
                @Html.ActionLink("Zaawansowane", "SearchIndex")
            </p>
            </hgroup>
            }
            else
            {
            <hgroup>
            <p>
                Dodaj pozycję do rezerwacji o numerze @ViewBag.Reservation_id
            </p>
            <p>
                @Html.ActionLink("Wróć do szczegółów rezerwacji", "Details", "Reservations", new { id = ViewBag.Reservation_id }, null)
            </p>
            </hgroup>
            }


        </div>
    </section>
}

   
@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.breakfast).Count() > 0)
{
    <p>
    <h3>Śniadania</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.breakfast));
}

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.drinks).Count() > 0)
{
    <p>
    <h3>Drinki</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.drinks));
}
@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.soup).Count() > 0)
{
    <p>
    <h3>Zupy</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.soup));
}

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.mains).Count() > 0)
{
    <p>
    <h3>Dania Główne</h3>
    </p>
    @Html.Partial("_CategoryTable",Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.mains));
}

@if (Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.starters).Count() > 0)
{
    <p>
    <h3>Przystawki</h3>
    </p>
    @Html.Partial("_CategoryTable", Model.Where(x => x.category == (int)RestaurantApp.Models.Categories.starters));
}

