@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <p>@ViewBag.Message</p>
            </hgroup>
            <p>
                This is page of as restaurant... dsahfjkgdhfljgkdfsgdhfjkjfdgsfdafsgh
            </p>
        </div>
    </section>
}
<h3>Wellcome:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("Look as offert", "Index", "ViewFoods")</h5>
        We are ofert ... bla bla bla
    </li>

    <li class="two">
        <h5>@Html.ActionLink("Make a reservation", "Index", "Reservations")</h5>
        You can make your reservation's @Html.ActionLink("here", "Index", "ViewFoods"), and find your ... sajfsgdh
    </li>

    <li class="three">
        <h5>@Html.ActionLink("Login", "Login", "Account")</h5>
        You can login here, or if you d'n have account .....sdfhdjgk
    </li>

    <li class="four">
        <h5>Lern more</h5>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more about as</a>
    </li>
</ol>
