@model RestaurantApp.Models.Reservations

@{
    ViewBag.Title = "Nowa rezerwacja";
}

@Styles.Render("~/Content/ui-lightness/jquery-ui-1.10.3.custom.min.css")
@Styles.Render("~/Content/jquery-ui-timepicker-addon.css")

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <hgroup>
            <p>
                @Html.ActionLink("Wróć do listy rezerwacji", "Index")
            </p>    
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservations</legend>

        <div class="editor-label">
            Wybierz numer stolika
        </div>
        <div class="editor-field">
            @Html.DropDownList("table_number")
        </div>

        <div class="editor-label">
            Wybierz datę i godzinę rezerwacji
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_time)
            @Html.ValidationMessageFor(model => model.date_time)
        </div>
        <p>
            <input type="submit" value="Stwórz rezerwację" />
        </p>
    </fieldset>
}
<div id="showTables">
    @Html.Partial("_ShowTables", ViewData["tableList"])
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/jquery-1.9.1.js")
    @Scripts.Render("~/Scripts/js/jquery-ui-1.10.3.custom.min.js")
    @Scripts.Render("~/Scripts/js/jquery-ui-timepicker-addon.js")
}
