@model RestaurantApp.Models.MainModel

@{
    ViewBag.Title = "Szczegóły rezerwacji";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>Numer rezerwacji <b>@ViewBag.Reservation_id</b></p>
            <p>Data <b>@ViewBag.Date</b> i godzina rezerwacji <b>@ViewBag.Time</b>, numer stolika <b>@ViewBag.Table</b> </p>
            <p>Koszt zamówienia <b>@ViewBag.Price</b></p>
            <p>Łączny czas oczekiwania <b>@ViewBag.TimeToEndSum</b></p>
            <hgroup>
            <p>
                @Html.ActionLink("Dodaj pozycję do rezerwacji", "Index", "ViewFoods", new { reservation_id = ViewBag.Reservation_id}, null)
                @Html.ActionLink("Wróć do listy rezerwacji", "Index")
            </p>    
            </hgroup>
        </div>
    </section>
}

<table>
    <tr>
        <th>
            id(test)
        </th>
        <th>
            Pozycja z menu
        </th>
        <th>
            cena
        </th>
        <th>
            czas wykonania
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Orders) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @{var foodName = Model.Foods.Where(x => x.Id == item.Foods_id).Single();}
            @Html.DisplayFor(modelItem => foodName.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_time_to_end)
        </td>
        <td>
            @Html.ActionLink("Zobacz szczegóły", "Details", "ViewFoods", new { id=item.Foods_id }, null) |
            @Html.ActionLink("Usuń", "DeleteDetail", new { id = item.Id, reservation_id = ViewBag.Reservation_id })
        </td>
    </tr>
}

</table>

