@model IEnumerable<RestaurantApp.Models.Orders>

@{
    ViewBag.Title = "Szczegóły rezerwacji";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>Numer rezerwacji @ViewBag.Reservation_id</p>
            <p>Data @ViewBag.Date i godzina rezerwacji @ViewBag.Time, numer stolika @ViewBag.Table </p>
            <p>Koszt zamówienia @ViewBag.Price</p>
            <p>Łączny czas oczekiwania ToDo</p>
            <hgroup>
            <p>
                @Html.ActionLink("Dodaj pozycję do rezerwacji", "Index", "ViewFoods", new { reservation_id = ViewBag.Reservation_id}, null)
                @Html.ActionLink("Wróć do listy rezerwacji", "Index")
            </p>    
            </hgroup>
        </div>
    </section>
}

<table>
    <tr>
        <th>
            id(test)
        </th>
        <th>
            Pozycja z menu
        </th>
        <th>
            cena
        </th>
        <th>
            czas wykonania
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foods_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_time_to_end)
        </td>
        <td>
            @Html.ActionLink("Zobacz szczegóły", "Details", "ViewFoods", new { id=item.Foods_id }, null) |
            @Html.ActionLink("Usuń", "DeleteDetail", new { id = item.Id, reservation_id = ViewBag.Reservation_id })
        </td>
    </tr>
}

</table>

