@model RestaurantApp.Models.Reservations

@{
    ViewBag.Title = "Edycja rezerwacji";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                numer rezerwacji: @ViewBag.Id
            </hgroup>
            <hgroup>
            <div>
                @Html.ActionLink("Powrót do listy rezerwacji", "Index")
            </div>    
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reservations</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            Numer stolika
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.table_number)
            @Html.ValidationMessageFor(model => model.table_number)
        </div>

        <div class="editor-label">
            Data
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_time)
            @Html.ValidationMessageFor(model => model.date_time)
        </div>

        <p>
            <input type="submit" value="Zapisz zmiany" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
