@model IEnumerable<RestaurantApp.Models.Reservations>

@{
    ViewBag.Title = "Rezerwacje";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <hgroup>
            <p>
                @Html.ActionLink("Złóż rezerwację", "Create")
            </p>    
            </hgroup>
        </div>
    </section>
}



<table>
    <tr>
        <th>
            Numer rezerwacji(test)
        </th>
        <th>
            Data
        </th>
        <th>
            Godzina
        </th>
        <th>
            Numer stolika
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_time.Date, "ShortDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_time.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.table_number)
        </td>
        <td>
            @Html.ActionLink("Zmień", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>